body {
    background: #eeefed;
}

a {
    text-decoration: none;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 25px;
}

h1 {
    position: relative;
    text-align: center;
    color: #353535;
    font-size: 50px;
    font-family: "Calibri", sans-serif;
}

p {
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    text-align: center;
    font-size: 18px;
    color: #676767;
    margin-bottom: 40px;
}

.custom-btn {
    width: 135px;
    height: 40px;
    color: #000;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: block;
    margin: 0 auto 20px; /* Center and add margin to stack vertically */
    box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, .5),
        7px 7px 20px 0px rgba(0, 0, 0, .1),
        4px 4px 5px 0px rgba(0, 0, 0, .1);
    outline: none;
}

/* Add your custom styles for btn-1, btn-2, and btn-3 */

/* STYLES FOR BUTTON 1 : grow and change colour transition on hover. Change colour on click*/
.btn-1, .btn-2 , .btn-3{
    font-family: 'Courier New', Courier, monospace;
    transition: all 0.5s ease-in ; 
}

.btn-1:hover{
        background-color: #F33A6A ;
        color: #F4C2C2;
        border-color: #F4C2C2;
        font-size: 14px ;
        width:150px;
        height: 50px;
}

/* left click on button to see active state */
.btn-1:active{
    background-color: #F4C2C2 ;
    color:#F33A6A ;
    border-color: #F33A6A;
}

/* STYLES FOR BUTTON 2: expand and change colour on hover. */
.btn-2:hover{
    width: 175px;
    letter-spacing: 4px;
    font-weight: 800;
    font-style: italic;
    background-color: #c3d9ff;
    color: #002eff; 
    border-color: #002eff;
}

/* STYLES FOR BUTTON 3: grow animation with changing gradient */

@keyframes grow {
    0% { width:135px; height:40px;  background-color: purple; color:#ce3f26 ; }
    50% {width:140px; height:40px ; background-image: linear-gradient(purple, pink); color: #ffb347;}
    100% { width:145px; height:40px; background-image: linear-gradient(pink, rgb(143, 143, 209)); color:#ce3f26 ; } 
}

.btn-3:hover{
    animation-name: grow;
    animation-duration:2s;
    color: white;
}